<%= provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The Euro2012 Scorecast Game is a project to further my understanding
  in the art of developing website using the ruby on rails framework 
  which I recommend to anyone with an interest in programming or web
  development. I am currently working in Northern Ireland in my home 
  town of Derry where I am employed as a Software Engineer for InVision
  Software who are a German owned company who develop cutting edge 
  cloud based Workforce Management (WFM) software.
</p>

<p>
  If you would like to help out with adding some more features to this
  please feel free by contacting me at jpmcfeely@googlemail.com. This 
  software can also be used for you and your friends this summer as a
  means of settling those tea-break arguments about who has the greatest
  football knowledge at the table.
</p>