<%= provide(:title, 'Help') %>
<h1>Game Help</h1>
<p>  
  Once you register for the site you will be asked for your scoreline prediction for
  each of the 24 group fixtures of the Euro 2012 football championship. 
</p>

<p>
  Scoring is achieved as follows:
  <ul>
    <li>3 points for correct scoreline</li>
	<li>1 point for correct result</li>
  </ul>
</p>  