<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>      
    </aside>    
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Euro 2012 Scorecast Game</h1>

    <h2>
      The Unofficial prediction game for the 
      <a href="http://www.uefa.com/uefaeuro/index.html/">Euro 2012</a>
      football championships.
    </h2>
	
	<p>
      Welcome to the beta version of the Euro 2012 Scorecast Game where for each game phase you are asked to 
	  predict the result of each of the 8 fixtures. Your prediction will be matched against the actual 
	  result of the fixture, you will score 3 points for a correct scoreline and 1 point for predicting
	  a correct result (Home/Draw/Away). Thank you for for visiting now please feel free to sign up below.
    </p>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <!--%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %-->
<% end %>